$primary-color: #1c1917;
$secondary-color: #292524;
$primary-text-color: #a8a29e;
$box-shadow-color: rgb(0, 0, 0);

html {
    font-family: cursive;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: $primary-color;
    color: $primary-text-color;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
}

.container {
    opacity: 100;
    width: 45vw;
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    
    .instructionsContainer {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 15vh;
        h2 {
            flex: 2;
        }
        h3 {
            flex: 1;
        }
        * {
            margin: 0;
        }
    }

    .gameContainer {
        grid-row: 2/3;
        width: 100%;
        display: flex;
        justify-content: space-around;
            > button {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            background-color: $secondary-color;
            -webkit-box-shadow: 10px 10px 5px -8px $box-shadow-color;
            -moz-box-shadow: 10px 10px 5px -8px $box-shadow-color;
            box-shadow: 10px 10px 5px -8px $box-shadow-color;
            border-radius: 10px;
            border: none;
            width: 200px;
            height: 200px;
        }
        button:hover {
            transition: 10ms;
            transform: scale(101%);
        }
        button:active {
            box-shadow: 10px 10px 5px -10px $box-shadow-color;
            transition: 10ms;
            transform: scale(99%);
        }
    }

    .menu {
        grid-row: 3/4;
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
            > * {
                width: 200px;
            }
            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    flex: 1;
                }
            }
            div > img {
                cursor: pointer;
                border: none;
                transition: 250ms ease-in-out;
                display: flex;
                justify-content: center;
            }
            img:hover {
                transform: scale(110%) rotate(180deg);
            }
    
            img:active {
                transition: 250ms;
                transform: scale(100%) rotate(720deg);
            }
    }
}
/********************
Animations on hover
********************/
.play {
    position: absolute;
    }
    
    .play > svg {
        cursor: pointer;
    }
    
    #dark1, #light1, #dark2 {
        transition: all 1s ease;
    }
    
    #PLAY {
        transition: all 1.2s ease;
    }
    
    #dark2 {
        transform: translateX(-100%);
    }
    
    #PLAY {
        transform: translateX(-100%);
    }
    
    .play > svg:hover #PLAY {
        transform: translateX(0%)
    }
    
    .play > svg:hover #light1 {
        transform: translateX(20%);
    }
    
    .play > svg:hover #dark1 {
        transform: translateX(40%);
        opacity: 0;
    }
    
    .play > svg:hover #dark2 {
        transform: translateX(0%)
    }
/**************
Animations on click
**************/
.container {
    opacity: 0;
    scale: 80%;
}

#containerAppear {
    transition: 3s;
    scale: 100%;
    opacity: 100%;
}

.animations {
    position: absolute;
    display: grid;
}

.onClickAnimation > * {
    grid-row: 1/2;
    opacity: 0;
}

#onClickAppear > * {
    opacity: 100;
}

#clickLightGroup > * {
    opacity: 100;
    transform: translateX(20%);
    transition: 0.7s;
}

#clickDarkGroup > * {
    opacity: 100;
    transition: 0.9s;
}

#clickDark1 {
    opacity: 0;
}

#lightClicked {
    transform: translateX(50%);
    opacity: 0;
}

#darkClicked {
    transform: translateX(60%);
    opacity: 0;
}

#playClicked {
    transform: translateX(60%);
    opacity: 0;
}

#playVanish {
    opacity: 0;
}