$primary-color: #1c1917;
$secondary-color: #292524;
$primary-text-color: #a8a29e;
$box-shadow-color: rgb(0, 0, 0);

html {
    font-family: cursive;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: $primary-color;
    color: $primary-text-color;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.play {
position: absolute;
}

.play > svg {
    cursor: pointer;
}

#dark1, #light1, #dark2 {
    transition: all 1s ease;
}

#PLAY {
    transition: all 1.3s ease;
}

#dark2 {
    transform: translateX(-100%);
}

#PLAY {
    transform: translateX(-100%);
}

.play > svg:hover #PLAY {
    transform: translateX(0%)
}

.play > svg:hover #light1 {
    transform: translateX(20%);
}

.play > svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}

.play > svg:hover #dark2 {
    transform: translateX(0%)
}

.fadingEffect {
    position:absolute;
    top:0; bottom:0; left:0;
    width:100%;
    background: #1c1917;
    box-shadow: 7px 0px 6px -1px rgba(28,25,23,0.75);
    -moz-animation: showHide 2s ease-in; /* Firefox */
    -webkit-animation: showHide 2s ease-in; /* Safari and Chrome */
    -ms-animation: showHide 2s ease-in; /* IE10 */
    -o-animation: showHide 2s ease-in; /* Opera */
    animation: showHide 2s ease-in;
}

// @-webkit-keyframes showHide { /* Chrome, Safari */
//     0% {width:100%}
//     40% {width:0%}
//     60% {width:0%;}
//     100% {width:100%;}
// }
// @-moz-keyframes showHide { /* FF */
//     0% {width:100%}
//     40% {width:0%}
//     60% {width:0%;}
//     100% {width:100%;}
// }
// @-ms-keyframes showHide { /* IE10 */
//     0% {width:100%}
//     40% {width:0%}
//     60% {width:0%;}
//     100% {width:100%;}
// }
// @-o-keyframes showHide { /* Opera */
//     0% {width:100%}
//     40% {width:0%}
//     60% {width:0%;}
//     100% {width:100%;}
// }

@keyframes showHide {
    0% {
        width:0%;
    }
    40% {
        width:0%;
    }
    60% {
        width:0%;
    }
    100% {
        width:100%;
    }
}


.container {
    transform: translateX(-500%);
    opacity: 0;
    width: 45vw;
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    
    .instructionsContainer {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 15vh;
        h2 {
            flex: 2;
        }
        h3 {
            flex: 1;
        }
        * {
            margin: 0;
        }
    }

    .gameContainer {
        grid-row: 2/3;
        width: 100%;
        display: flex;
        justify-content: space-around;
            > button {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            background-color: $secondary-color;
            -webkit-box-shadow: 10px 10px 5px -8px $box-shadow-color;
            -moz-box-shadow: 10px 10px 5px -8px $box-shadow-color;
            box-shadow: 10px 10px 5px -8px $box-shadow-color;
            border-radius: 10px;
            border: none;
            width: 200px;
            height: 200px;
        }
        button:hover {
            transition: 10ms;
            transform: scale(101%);
        }
        button:active {
            box-shadow: 10px 10px 5px -10px $box-shadow-color;
            transition: 10ms;
            transform: scale(99%);
        }
    }

    .menu {
        grid-row: 3/4;
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
            > * {
                width: 200px;
            }
            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    flex: 1;
                }
            }
            div > img {
                cursor: pointer;
                border: none;
                transition: 250ms ease-in-out;
                display: flex;
                justify-content: center;
            }
            img:hover {
                transform: scale(110%) rotate(180deg);
            }
    
            img:active {
                transition: 250ms;
                transform: scale(100%) rotate(720deg);
            }
    }
}