html {
  font-family: cursive;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #1c1917;
  color: #a8a29e;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.play {
  position: absolute;
}

.play > svg {
  cursor: pointer;
}

#dark1, #light1, #dark2 {
  transition: all 1s ease;
}

#PLAY {
  transition: all 1.3s ease;
}

#dark2 {
  transform: translateX(-100%);
}

#PLAY {
  transform: translateX(-100%);
}

.play > svg:hover #PLAY {
  transform: translateX(0%);
}

.play > svg:hover #light1 {
  transform: translateX(20%);
}

.play > svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}

.play > svg:hover #dark2 {
  transform: translateX(0%);
}

.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1c1917;
  box-shadow: 7px 0px 6px -1px rgba(28, 25, 23, 0.75);
  -moz-animation: showHide 2s ease-in; /* Firefox */
  -webkit-animation: showHide 2s ease-in; /* Safari and Chrome */
  -ms-animation: showHide 2s ease-in; /* IE10 */
  -o-animation: showHide 2s ease-in; /* Opera */
  animation: showHide 2s ease-in;
}

@keyframes showHide {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.container {
  transform: translateX(-500%);
  opacity: 0;
  width: 45vw;
  display: grid;
  place-items: center;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}
.container .instructionsContainer {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15vh;
}
.container .instructionsContainer h2 {
  flex: 2;
}
.container .instructionsContainer h3 {
  flex: 1;
}
.container .instructionsContainer * {
  margin: 0;
}
.container .gameContainer {
  grid-row: 2/3;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .gameContainer > button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #292524;
  -webkit-box-shadow: 10px 10px 5px -8px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 5px -8px rgb(0, 0, 0);
  box-shadow: 10px 10px 5px -8px rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 200px;
}
.container .gameContainer button:hover {
  transition: 10ms;
  transform: scale(101%);
}
.container .gameContainer button:active {
  box-shadow: 10px 10px 5px -10px rgb(0, 0, 0);
  transition: 10ms;
  transform: scale(99%);
}
.container .menu {
  grid-row: 3/4;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.container .menu > * {
  width: 200px;
}
.container .menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .menu > div h2 {
  flex: 1;
}
.container .menu div > img {
  cursor: pointer;
  border: none;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
}
.container .menu img:hover {
  transform: scale(110%) rotate(180deg);
}
.container .menu img:active {
  transition: 250ms;
  transform: scale(100%) rotate(720deg);
}

/*# sourceMappingURL=styles.css.map */
